{% extends "base.twig" %}

{% block content %}

<div id="tabs" style="width:100%; float:left; margin-top:5px;">
	<div class='row'>
		<div id="event-tabs" style="background-color:#ffffff; margin-left:0px;text-align:left">
			<a class="tab active" id="allSitesData-button" onclick="activateTab('allSitesData');">
				<div class='top-border'></div>
				<div class='name'><b>Enrollment Statistics</b></div>
			</a>
			<a class="tab nonactive" id="mySiteData-button" onclick="activateTab('mySiteData');">
				<div class='top-border'></div>
				<div class='name'><b>My Site's Metrics</b></div>
			</a>
			<a class="tab nonactive" id="screening-button" onclick="activateTab('screening');">
				<div class='top-border'></div>
				<div class='name'><b>Screening</b></div>
			</a>
		</div>
	</div>
	{#<div class='row' style="height:1px"></div>#}
	<div id="allSitesData">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Enrolled</th>
					<th>Treated</th>
					<th>FPE</th>
					<th>LPE</th>
				</tr>
			</thead>
			<tbody>
				<tr class="first_row">
					<td>Entire Project</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				{% for totalDetails in allSites["totals"] %}
					<tr>
						<td>{{ totalDetails["name"] }}</td>
						<td>{{ totalDetails["enrolled"] }}</td>
						<td>{{ totalDetails["treated"] }}</td>
						<td>{{ totalDetails["fpe"] }}</td>
						<td>{{ totalDetails["lpe"] }}</td>
					</tr>
				{% endfor %}
				<tr class="first_row">
					<td>By Site</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				{% for siteDetails in allSites["sites"] %}
					<tr>
						<td>{{ siteDetails["name"] }}</td>
						<td>{{ siteDetails["enrolled"] }}</td>
						<td>{{ siteDetails["treated"] }}</td>
						<td>{{ siteDetails["fpe"] }}</td>
						<td>{{ siteDetails["lpe"] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="mySiteData">
		<table class="sortable">
			<thead>
			<tr>
				{% if authorized == '3' %}
					<th>Record</th>
					<th>Site</th>
				{% else %}
					<th>{{ mySite["site_name"] }}</th>
				{% endif %}
				<th>Sex</th>
				<th>Race</th>
				<th>Enrolled</th>
				<th>Treated</th>
			</tr>
			</thead>
			<tbody>
			{% for personDetails in mySite["rows"] %}
				<tr>
					<td>{{ personDetails["id"] }}</td>
					{% if authorized == '3' %}
						<td>{{ personDetails["site"] }}</td>
					{% endif %}
					<td>{{ personDetails["sex"] }}</td>
					<td>{{ personDetails["race"] }}</td>
					<td>{{ personDetails["enrolled"] }}</td>
					<td>{{ personDetails["treated"] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="screening" style="padding:10px">
		<button onclick="showReport('screening_log')" class="report_switch">Screening Log Report</button>
		<button onclick="showReport('exclusion')" class="report_switch">Exclusion Report</button>
		<button onclick="showReport('screen_fail')" class="report_switch">Screening Fail Report</button>
		<div class="screening_report" id="screening_log">
		{# title div #}
		<span class="report_title">Screening Log Report</span>
			<div class="row">
				<div class="col-6">
					{# dropdown #}
					<select name="site" id="site">
						<option>Choose institution</option>
						{% for site_name in site_names %}
						<option>{{ site_name }}</option>
						{% endfor %}
					</select>
					
					{# table #}
					<table>
						<thead>
							<tr>
								<th>Week</th>
								<th>Sum of Prescreened</th>
								<th>Cumulative Prescreened</th>
							</tr>
						</thead>
						<tbody>
						{% for row in screeningLog.rows %}
							<tr>
								<td>{{ row.0 }}</td>
								<td>{{ row.1 }}</td>
								<td>{{ row.2 }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{# chart #}
				<div class="col-6">
					<canvas id="screening_log_chart" width="400" height="400"></canvas>
					<script>
						var week_labels = [
							{% for row in screeningLog.rows|slice(0,-1) %}
								'{{ row.0 }}',
							{% endfor %}
						];
						var data1 = [
							{% for row in screeningLog.rows|slice(0,-1) %}
								{{ row.1 }},
							{% endfor %}
						];
						var data2 = [
							{% for row in screeningLog.rows|slice(0,-1) %}
								{{ row.2 }},
							{% endfor %}
						];
						var ctx = document.getElementById('screening_log_chart').getContext('2d');
						var screening_log_chart = new Chart(ctx, {
							type: 'bar',
							data: {
								labels: week_labels,
								datasets: [{
									label: 'Participants Screened',
									data: data1,
									{# backgroundColor: 'rgba(255, 99, 132, 0.2)', #}
									borderColor: 'rgba(13, 127, 133, 1)',
									borderWidth: 2,
									type: 'line'
								},{
									label: 'Cumulative Screened',
									data: data2,
									backgroundColor: 'rgba(180, 199, 231, 1)',
									borderWidth: 1
								}]
							},
							options: {
								title: {
									display: true,
									fontSize: 24,
									fontStyle: 'normal',
									text: 'Participant Screening'
								},
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero: true
										}
									}]
								}
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="screening_report" id="exclusion">
			{# title div #}
			<span class="report_title">Exclusion Report</span>
			{# table #}
			{# chart #}
		</div>
		<div class="screening_report" id="screen_fail">
			{# title div #}
			<span class="report_title">Screen Fail Report</span>
			{# table #}
			{# chart #}
		</div>
	</div>
</div>
{% endblock %}