{% extends "base.twig" %}

{% block content %}
<table>
	<thead>
		<tr>
			<th></th>
			<th>Enrolled</th>
			<th>Transfused</th>
			<th>FPE</th>
			<th>LPE</th>
		</tr>
	</thead>
	<tbody>
		<tr class="first_row">
			<td>Entire Project</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		{% for totalDetails in totals %}
			<tr>
				<tr>
					<td>{{ totalDetails["name"] }}</td>
					<td>{{ totalDetails["enrolled"] }}</td>
					<td>{{ totalDetails["transfused"] }}</td>
					<td>{{ totalDetails["fpe"] }}</td>
					<td>{{ totalDetails["lpe"] }}</td>
				</tr>
			</tr>
		{% endfor %}
		<tr class="first_row">
			<td>By Site</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		{% for siteDetails in sites %}
			<tr>
				<td>{{ siteDetails["name"] }}</td>
				<td>{{ siteDetails["enrolled"] }}</td>
				<td>{{ siteDetails["transfused"] }}</td>
				<td>{{ siteDetails["fpe"] }}</td>
				<td>{{ siteDetails["lpe"] }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}